/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --main-font-weight: 400;
    --font-weight-card-title: 700;

    --size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);

    --accent: #000;
    --background: #fff;
    --text-stroke-color: var(--background);
    --button-like-text-color: var(--background);
    --background-gradient: 
        repeating-linear-gradient(#d3d3d3,#d3d3d3 2px, transparent 2px, transparent 4px), 
        repeating-linear-gradient(90deg,#d3d3d3,#d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(#e7e7e7, #1a1a1a);

    --heart-contour-color: var(--accent);
    --heart-filling-color: red;
}